<div class="form-header" >

    <!--Input'umuzu myInput diye bir variable'a kaydedecegiz daha sonra component tarafındaki doSearch()'e parametre olarak gönder
    Yani enter'a ya da butona basıldığında myInput parametresi ile birlikte component tarafindaki doSearh() calisacak-->
    <input #myInput type="text" 
            placeholder="Search for products ..."
            class="au-input au-input-xl" 
            (keyup.enter)="doSearch(myInput.value)" />


    <button (click)="doSearch(myInput.value)" class="au-btn-submit" >
        Search
    </button>



</div>